/* Empty. Add your own CSS if you like */
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
    50% {
      -webkit-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -webkit-transform: scale(1) rotate(0deg); 
    }
}
@-o-keyframes pulse {
    0% {
      -o-transform: scale(1) rotate(0deg); 
    }
    50% {
      -o-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -o-transform: scale(1) rotate(0deg); 
    }
}
@-moz-keyframes pulse {
    0% {
      -moz-transform: scale(1) rotate(0deg); 
    }
    50% {
      -moz-transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      -moz-transform: scale(1) rotate(0deg); 
    }
}
@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
}

@-webkit-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-o-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@-moz-keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}
@keyframes bump {
  0% {
      top: 0;
  }
  5% {
      top: 3px;
  }
  10% {
      top:0;
  }
  100% {
      top:0;
  }
}

.navtitle{
	
}
!input::-webkit-input-placeholder {
!  color: red !important;
!}
!input:-moz-placeholder {
!  color: red !important;
!}
!input:-ms-input-placeholder { /* IE10+ */
!  color: red !important;
!}
a:link {
    text-decoration: none;
}
.nopadding{
	padding: 0!important;
}
.nomargin{
	margin: 0!important;
}
.noborder{
	border-width: 0!important;
}
.container{
	background-color: #3A2D3E;
}
.menubar{
	!top: 25px;
}
ion-content, .sidebartoptitle{
	!margin-top: 25px !important;
	padding-top: 0 !important;
	!margin: 0 !important;
}
.bar-header{
	border-bottom-width: 0; 
}
.bar-header > * {
  !margin-top: 25px !important;
}
.nav-bar-block, .bar {
  background-color: inherit !important;
}
.scroll-content{
  !top: 0!important;
}
fake-statusbar {
  height: 25px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  !background-color: #31C3F6;
}
.mybutton{
}
.mybutton:active{
    !-webkit-animation: pulse 1s ease 0s infinite normal;
    !-o-animation: pulse 1s ease 0s infinite normal;
    !-moz-animation: pulse 1s ease 0s infinite normal;
    !animation: pulse 1s ease 0s infinite normal;
    -moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
}
.custombar{
	!margin-top: 25px !important;
}

.image-half {
	background-color: #5E4C66;
	text-overflow: hidden;
	border-width: 0;
	background-image: url("../img/big/backgroundparis@2x.png");
	background-size: cover;
}
.image-half img:first-child {
	width: 100%;
	!height:100%;
}
.description{
	height: 60px;
	width: 100%;
	background-color: rgba(40, 95, 143, 0.5);
	color: white;
	border-width: 0;
	font-size: 14px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	text-overflow: initial;
  	white-space: initial;
  	text-align: left;
}
.paristitle{
	position: absolute;
	width: 100%;
	color: white;
	font-style: italic;
	font-size: 60px;
	text-align: center;
}
.divider-blue{
	height: 5px;
	border-width: 0;
  	background-color: #31C3F6;
  	padding: 0;
  	width: 100%;
}
#others{
	!top:-60px;
	border-width: 0;
  	padding: 0;
  	background-color: rgba(255,255, 255, 0);
  	text-overflow: initial;
  	white-space: initial;
}
.parisbuttons{
	background: #5E4C66;
	border-width: 0;
	padding: 0;
}

.parisbackground{
	background-color: #5E4C66;
	border-width: 1px;
	border-color: #4F3F55;
	position: relative;
	border-style: solid;
	text-align: center;
	!border-collapse: collapse;

}
.parisrow{
	margin-top: 0 !important;
}
.parisbackground img:first-child{
	position: absolute;
	width: auto;
	!padding: 0px;
}
.button1{
	border-left-width:0;
	border-top-width:0;
}
.button2{
	border-right-width:0;
	border-top-width:0;
}
.button3{
	border-left-width:0;
	border-bottom-width:0; 
}
.button4{
	border-right-width:0;
	border-bottom-width:0;
}
.title-center{
	min-width: initial!important;
}

.museumscontent{
	margin:0!important;
}
.museumdivider{
	position: absolute;
	width: 100%;
	background-color: rgba(36, 130, 176, 0.6);
	color: white;
	font-size: 16px;
	height: 40px;
	bottom: 0;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}
.museumimg{
	border-width: 0;
	width: 100%;
	background-size: cover;
	margin: 0;

}
.icondownload img{
	height: 36px;
	width: 36px!important;
	position: absolute;
	bottom: 2px;
	right: 15px;
	z-index: 5;
}
.icondelete img{
	height: 36px;
	width: 36px!important;
	position: absolute;
	bottom: 2px;
	right: 15px;
	z-index: 5;
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}
.mask{
	width: 100%;
	height: 100%;
	background-color: rgba(100,100,100,0.5);
}






.museumrow{
	overflow: hidden;
	text-align: center;
}
.museumserviceimg{
	height: 100%;
}
.museumservicebutton{
	height: 35px;
	width: 100px;
	border-color: #3FC1F2;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	font-size: 17px;
	color: white;
	padding-top: 6px;
	margin-left: auto;
	margin-right: auto;
  	cursor: pointer;
}
.museumservicebutton:active{
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}


.button-search{
	width: 90px;
	height: 36px!important;
	border-radius: 3px;
	min-height: initial!important;
	line-height: initial;
	font-size: 16px!important;
	background-color: #3FC1F2!important;
}
.searchbar{
    width: 100%;
    z-index: 4;
	padding: 30px 20px;
	border-width: 0;
}
.searchbar, .searchbar-input{
	background-color: #5E4C66!important;
}
.searchbar-input{
	border-width: 1px;
	border-style: solid;
	border-color: #3FC1F2;
	height: 36px;
}
.searchbar-input input[type="text"]{
	color:white;
}
ion-content.objectlistwithsearchbar{
	margin-top: 60px;
}
.objectlist{
	background-color: #D5D5D5;
}
.objectlist .item{
	background-color: inherit;
	border-color: #8B8989;
	height: 100px;
	padding-left: 120px;
	padding-top: 25px;
	padding-right: 50px;
	border-top-width: 0px;
}
.objectlist .enterbutton{
	height:16px;
	position: absolute;
	right: 30px;
	top: 42px;
}
.objectlist .item-avatar > img:first-child{
	border-radius: 3px;
	height: 80px;
	width: 80px;
	max-height: initial;
	max-width: initial;
	top: 9px;
	left: 20px;
}

.objectlist .objectname, .objectlist .objectfrenchname{
	color: #4A3852;
	font-size: 16px;
}

.objectlist .objectfrenchname{
	padding-top: 5px;
}

.introplayerblock{
	position: relative;
	background-color: #5E4C66;
	!text-overflow: hidden;
	border-width: 0;
	background-size: 100% auto;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 0;
	width: 100%;
}
.player{
	height:65px;
	width: 100%;
	background-color: rgba(44, 29, 47, 0.5);
	border-width: 0;
	padding: 10px;
	position: absolute;
	bottom: 0;
	text-overflow: initial;
  	white-space: initial;
  	text-align: left;
}
.playbutton.timer{
	border-width: 0;
	position: absolute;
	bottom: 16px;
	left: 10%;
	!text-overflow: initial;
  	!white-space: initial;
  	!text-align: left;
  	
}
.playbutton.timer #currentTime{
	color: white;
	font-size: 15px;
}
.playbutton.timer .allduration{
	color: #3FC1F2;
	font-size: 15px;
}
.playbutton{
	border-width: 0;
	position: absolute;
	bottom: 2.5px;
	left: 50%;
	margin-left: -25px;
	!text-overflow: initial;
  	!white-space: initial;
  	!text-align: left;
}
.playbutton img{
	height: 46px;
}
.playbutton.pausebutton{
	height: 46px;
	width: 46px;
	margin-left: -23px;
	bottom: 8px;
	!background-color: black;
}
.playbutton.pausebutton img{
	margin-top: 11px;
	margin-left: 14px;
	height: 24px;
}
.playbutton.laterbutton img, .playbutton.ealierbutton img{
	margin-top: 15px;
	margin-left: 9px; 
	height: 16px;
}
.playbutton.laterbutton{
	!background-color: black;
	height: 46px;
	width: 46px;
	left: 65%;
	margin-left: -23px;
	bottom: 8px;
}
.playbutton.ealierbutton{
	!background-color: black;
	height: 46px;
	width: 46px;
	left: 35%;
	bottom: 8px;
}
.playbutton.locationbutton{
	left: 94%;
	bottom: 12px;
}
.playbutton.locationbutton img{
	height: 34px;
}
#currentpoint{
	bottom: 50px;
	position: absolute;
	left: 10%;
	z-index: 5;
	height: 36px;
	width: 36px;
	!background-color: black;

}
#currentpoint img{
	height: 16px;
	margin-top: 10px;

}
#currenttimeline{
	background-color: #3FC1F2;
	width:10%;
	height:5px;
	bottom: 65px;
	position: absolute;
}
.timeline{
	height: 5px;
	width: 100%;
	background-color: white;
	border-width: 0;
	position: absolute;
	bottom: 65px;
	left: 0px;
}
ion-content.introdescription{
	!margin-top: 70vh;
	background-color: #3A2D3E;
	text-align: center;
	color: white;
}
.introdescription .objecttitle{
	padding-top: 15px;
	font-size: 18px;
	margin-bottom: 15px;
}
.introdescription .objectdescription{
	padding: 0 35px;
	margin-bottom: 20px;
	text-align: justify;
}

#map {
	width: 100%;

}
#dividermap{
	position: absolute;
	top: 0;
}
.mapbuttons {
	border-width: 0;
	background-color: #4A3852!important;
	padding: 0;
}
.arrowbutton {
	position: absolute;
	z-index: 5;
	top: 5px;
	left: 50%;
	margin-left: -18px;
}
.arrowdown img{
	height: 32px;
}
.buttonscontent {
	position: relative;
	width: 100%;
	padding: 35px 0 20px 0;
}
.maprow {
	!border-top-width: 1px;
	border-bottom-width: 2px;
	border-style: solid;
	border-collapse: collapse; 
	border-color: #45354B;
	margin-top: 0!important;
}
.maprow-last {
	border-bottom-width: 0px;
	border-style: solid;
	border-collapse: collapse; 
	border-color: #45354B;
}
.mapcol {
	text-align: center;
	position: relative;
}
.mapcol button{
	background-color: rgba(0,0,0,0);
	font-size: 16px;
	color: white;
	height: 36px;
	width: 140px;
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: 50%;
	margin-left: -70px;
	border-color: #31C3F6;
	border-style:solid;
	border-width: 2px;
	border-radius: 3px;
}
.mytoggle {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-width: 2px;
	border-color: #31C3F6;
	border-radius: 3px;
	color: white;
	width: 140px;
	height: 36px;
	padding: 0px;
	top: 50%;
	margin-top: -19px;
	left: 50%;
	margin-left: -70px;
}
.mytoggle .toggle {
	position: relative;
	right: 0;
	top: 5px;
}
.mytoggle .track {
	height: 21px;
}
.mytoggle .track .handle {
	height : 17px;
}
.mapcol .button:active{

}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background-color: rgba(255,255,255,0.7) !important;
}
#GMapsID div div a div img{
    display:none;
}
a[title="Report errors in the road map or imagery to Google"], a[title="向 Google 报告道路地图或图像中的错误"]{
    display: none !important;
}








.installdiv{
	!position:absolute;
	!background-color: white;
	/*top: 40%;
	margin-top: -60px;
	left: 50%;*/
	!border-radius: 10px;
	!border-color: #31C3F6;
	!border-width: 3px;
	!border-style: solid;
	height: 120px;
	!z-index: 200;
	padding: 10px;
	text-align: center;
}

.installspinner{
	height: 36px;
	width: 36px!important;
	position: absolute;
	bottom: 2px;
	right: 15px;
	z-index: 5;
}
.installelem{
	margin-bottom: 10px;
}
.downloadbar{
	display:inline-block;
	border-color: #31C3F6;
	border-width: 1px;
	border-style: solid;
	height: 16px;
	width: 200px;
}
#percentage{
	display:inline-block;
	height: 16px;
	width: 40px;
}