<ion-view view-title="地图">
	<div id="map" data-tap-disabled="true" class="bar bar-subheader map transformable"></div>
	<ion-content>
  	</ion-content>
  	<ion-footer-bar class=" mapbuttons transformable" id="mapbuttonscontainer">
  		<div class="divider-blue" id="dividermap"></div>
  		<div id="arrowdown" class="arrowbutton" ng-click="hideButton()"><img src="img/big/arrow_down@2x.png"/></div>
  		<div id="arrowup" class="arrowbutton" ng-click="showButton()"><img src="img/big/arrow_up@2x.png"/></div>
  		<div class="buttonscontent">
	  		<div class="row nopadding  maprow">
				<div class="col nopadding mapcol">
					<button class="mybutton">城市地图</button>
				</div>
				<div class="col nopadding mapcol">
					<button class="mybutton">巴黎地铁</button>
				</div>
			</div>
			<div class="row nopadding  maprow">
				<div class="col nopadding mapcol">
					<div class="item item-toggle mytoggle">
	     				WIFI热点
	     				<label class="toggle toggle-calm">
	       				<input type="checkbox" ng-model="wifi.checked">
	       					<div class="track">
	         					<div class="handle"></div>
	       					</div>
	     				</label>
  					</div>
					<!--<button class="mybutton">巴黎地铁</button>-->
				</div>
				<div class="col nopadding mapcol">
					<button class="mybutton">景点地图</button>
				</div>
			</div>
			<div class="row nopadding  maprow maprow-last">
				<div class="col nopadding mapcol">
					<div class="item item-toggle mytoggle">
	     				公共厕所
	     				<label class="toggle toggle-calm">
	       				<input type="checkbox" ng-model="wc.checked">
	       					<div class="track">
	         					<div class="handle"></div>
	       					</div>
	     				</label>
  					</div>
				</div>
				<div class="col nopadding mapcol">
					<button class="mybutton">巴黎公交</button>
				</div>
			</div>
		</div>
		<script src="lib/google-geolocation-marker/src/geolocationmarker-exports.js"></script>
     <script src="lib/google-geolocation-marker/src/geolocationmarker.js"></script>
	</ion-footer-bar>
</ion-view>
