<ion-view view-title="博物馆">
  <ion-content class="museumscontent">

      <a ng-click="museumclick(museum.id, museum.downlink, museum.foldername, museum.downloaded)" ng-repeat="museum in museums" class="item item-image museumimg mybutton" my-repeat-directive="{{museum.img}}">
      <div class="mask" ng-show="!museum.downloaded"> </div>
      	<div >
			<div class="museumdivider">{{museum.name}}</div>
			<div class = "icondownload" ng-show="!museum.downloaded"><img src="img/big/icondownload.png"/></div>
			<div class = "icondelete" ng-show="museum.downloaded" ng-click="delete(museum.id, museum.foldername);$event.stopPropagation()"><img src="img/big/icondelete.png" /></div>
		</div>
        
      </a>
  </ion-content>
</ion-view>
