<ion-view view-title="{{museum.name}}">
  <ion-content scroll="false" class="museumscontent">
  	<div class="container">
		<div class="row nopadding row-fix museumrow nomargin">
			<div class="col nopadding nomargin">
			  	<div class="item item-image noborder nomargin">
			  	  	<img src={{museum.imgintro}} class="museumserviceimg">
				</div>
			</div>
			<div class="col nopadding nomargin">
			   	<a href="#/app/museum/intro/{{museum.id}}"><div class="museumservicebutton">展馆介绍</div></a>
			</div>
		</div>
		<div class="row nopadding fow-fix museumrow nomargin">
			<div class="col nopadding nomargin">
			  	<a href="#/app/objects/{{museum.id}}"><div class="museumservicebutton">展品介绍</div></a>
			</div>
			<div class="col nopadding noborder nomargin">
			  	<div class="item item-image noborder nomargin">
			  	  	<img src={{museum.imgobject}} class="museumserviceimg">
				</div>
			</div>
		</div>
		<div class="row nopadding fow-fix museumrow nomargin">
			<div class="col nopadding noborder nomargin">
			  	<div class="item item-image noborder">
			  	  	<img src={{museum.imginfo}} class="museumserviceimg">
				</div>
			</div>
			<div class="col nopadding nomargin">
			  	<div class="museumservicebutton">实用信息</div>
			</div>
		</div>
	</div>	
  </ion-content>
</ion-view>
