<ion-view view-title="巴黎">
	<ion-content scroll="false" ng-init="init()">
  		<div id="parisimg" class="item item-image image-half">
	  		<!--<img src="img/big/backgroundparis@2x.png">-->
	  		<div id="paristitle" class="paristitle">Paris</div>
	  		<div class="description">巴黎 (法语： Paris) 是法国的首都和最大的城市，也是法国的政治与文化中心，也是法兰西岛大区的核心。</div>
		</div>
		<div id="others" class="">
			
		  	<div class="divider-blue"></div>
		  	<div id="parisbutton" class="parisbuttons">
				<div class="row nopadding row-fix parisrow">
					<div class="col nopadding " ng-repeat="button in buttons1">
					  	<div class="parisbackground button1 ripple" ng-click="click(button)" ripple="$event">
					  		<img class="parisbackgroundimg" src="{{button.img}}">
						</div>
					</div>
				</div>
				<div class="row nopadding row-fix parisrow">
					<div class="col nopadding " ng-repeat="button in buttons2">
					  	<div class="parisbackground button1 ripple" ng-click="click(button)" ripple="$event">
					  		<img class="parisbackgroundimg" src="{{button.img}}">
						</div>
					</div>
				</div>
		  	</div>
		</div>  
  	</ion-content>
</ion-view>